$cat .gitignore
*.csv
*.docx
*.pyc
test_images
.Rhistory
.01_clim_scr.Rmd.swp
map_creation_with_functions.R
(old)*.R
(old)04_coord_ref.R
.*

# Ignore some directorys (chace, tmps, big output directory)
output/
clustered/
tif/
clim_dbs/
bias_tbl/
.Rproj.user/
gis/
rosm.cache/